<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define TestAppWPF_TargetDir=$(var.TestAppWPF.TargetDir)?>
	<Product Id="*" Name="TestAppWPF_WiX" Language="1033" Version="1.0.0.1" Manufacturer="TestCo" UpgradeCode="1D99C42C-F620-4853-B2DE-ED5EB7D18C10">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="TestAppWPF_WiX" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="TestAppWPF" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      
      <Component Id="TestAppWPF.exe" Guid="8f6eabd4-199a-4130-9aeb-a8676c29445c">
        <File Id="TestAppWPF.exe" Name="TestAppWPF.exe" Source="$(var.TestAppWPF_TargetDir)TestAppWPF.exe" />
      </Component>
      
      <Component Id="TestAppWPF.exe.config" Guid="8124d629-2dcb-49f1-90fb-88a87beee26e">
        <File Id="TestAppWPF.exe.config" Name="TestAppWPF.exe.config" Source="$(var.TestAppWPF_TargetDir)TestAppWPF.exe.config" />
      </Component>

      <Component Id="RegistryEntries" Guid="A6804CAB-4333-451B-B2FA-DB99463725A8">
        <RegistryKey Root="HKLM"
                     Key="Software\TestCo\Update\Clients\{1D99C42C-F620-4853-B2DE-ED5EB7D18C10}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="pv" Value="1.0.0.1" KeyPath="yes"/>
        </RegistryKey>
      </Component>

    </ComponentGroup>    
	</Fragment>
</Wix>
